[user]
	name = Patrick Horlebein
	email = patrick@ilovepatrick.de
[core]
	excludesfile = /Users/pA/.gitignore_global
	quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool]
	keepBackup = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
